.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #3b3b3b;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.label{
    padding: 10px;
    color: rgb(219, 219, 219);
    font-weight: bold;
  }
  
  .input{
    width: calc(20%);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 15px;
    background-color: rgb(105, 105, 105);
    color:rgb(219, 219, 219);
    cursor: pointer;
  }
  
  ::placeholder{
    color:rgb(219, 219, 219);
  }

  .submitButton {
    background-color: #4CAF50; 
    color: white; 
    padding: 8px 16px; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

  }

  .submitButton:hover {
    background-color: #45a049;
  }

  .formGroup {
    margin-bottom: 15px;
    text-align: left;
    font-size: 22px;
  }

  .title{
    font-size: 50px;
    margin-bottom: 50px;
    color: rgb(219, 219, 219);
  }

  .Button {
    margin-top: 30px;
    text-align: right;
    font-size: 22px;
  }

  .calendarIcon {
    width: 20px;
    height: 20px;
    margin-left: 5px; /* Ajuste o espaçamento conforme necessário */
    fill: #007FFF; /* Cor do ícone de calendário */
}